@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1rem;
}

p {
  font-size: 16px;
}

// move below styles to dashboard later
.container {
  max-width: 1400px;
  margin: 0 auto;
  // margin: 0 auto;
  // overflow: auto;
  // padding: 0 40px;
}

// themed button
.themed-btn {
  background: #222 !important;
  color: #fff !important;
  box-shadow: none !important;
  border: none !important;
  transition: 0;
}

// loader
.loading-wrapper {
  width: 50px;
  position: absolute;
  top: calc(50% - 50px/2);
  left: calc(50% - 50px/2);

  svg {
    fill: #000;
  }
}

// disable button click animation
[ant-click-animating-without-extra-node='true']::after {
  display: none !important;
}

.grey-background {
  background-color: #F6F6F7;
  height: 100vh;
}

.brand-top-nav {
  background-color: #222;
  color: #fff;
  padding: 0.5rem 0 0.5rem 2rem;

  h1 {
    margin: 0px;
    color: #fff;
    font-size: 1.5rem;
  }
}