.home {

    margin-left: 200px;
    padding-top: 53.71px; // height of the navbar
    width: 100%;

    .home-inner {
        h2 {
            margin-bottom: 1rem;
        }
    
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        padding: 1rem;
    
        button span {
            padding-left: 0.5rem;
            font-size: 16px;
        }
    
        canvas {
            width: 100% !important;
        }
    
        .ant-row {
            margin-bottom: 1rem;
            .ant-col {
    
                .analytics-box-item {
                    background: #fff;
                    border: 1px solid #EBEBEB;
                    border-radius: 2px;
                    padding: 1rem;
    
                    .flex {
                        display: flex;
                        align-items: center;
                        gap: 10px;
    
                        .icon-wrapper {
                            background: #222;
                            border-radius: 8px;
                        }
    
                        svg {
                            display: block;
                            padding: 0.5rem;
                            height: 20px;
                            color: #fff;
                        }
    
                        p {
                            margin: 0px;
                        }
                    }
    
                    h1 {
                        font-size: 2.5rem;
                        text-align: center;
                    }
                }
    
                .box {
                    background: blue;
                    // padding: 2rem;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .ant-row {
        row-gap: 2rem;
    }
}

@media (max-width: 768px) {
    .home {
        margin-left: 0px;
    }
}