.productsInner {
    h2 {
        margin: 0px;
    }
}

.rowSection {
    margin-top: 1rem;
}

.productItem {
    p {
        margin: 0px;
    }

    // width: 250px;
    background: #fff;
    padding: 10px;
    border: 1px solid #EBEBEB;
    // margin: auto;

    img {
        width: 100%;
        border-radius: 2px;
    }

    .productName {
        font-weight: 500;
        padding-top: 1rem;
    }
}

.antd-row {
    gap: 1rem;
}