.sideNav {
    transition: 350ms;
    margin-top: 53.71px;
    position: fixed;
    z-index: 2;
    background: #fff;
    max-width: 200px;
    height: calc(100vh - 53.71px); // substracting the navbar height
    padding: 40px calc(3rem) 0 2rem;
    border-right: 1px solid rgba(137, 137, 137, 0.4);

    .sideNavActiveItem {
        border-left: 4px solid #222 !important; 

        svg {
            color: #222 !important;
        }
    }

    .sideNavItem {
        display: flex;
        align-items: center;
        padding: 0.5rem 0px 0.5rem 1rem;
        margin-bottom: 1rem;
        background: #fff;
        border-left: 4px solid #fff;
        cursor: pointer;

        &:hover {
            border-left: 4px solid #222;

            svg {
                color: #222;
            }
        }

        svg {
            display: block;
            color: #898989;
        }

        p {
            margin: 0px;
            text-transform: capitalize;
            padding-left: 0.5rem;
        }

    }
}



@media (max-width: 768px) {
    .sideNav {
        transform: translateX(-200px);
    }

    .sideNavShow {
        transform: translateX(0px);
    }
}