.topnav {
    position: fixed;
    display: flex;
    gap: 1rem;
    align-items: center;
    z-index: 3;
    width: 100%;
    background: #222;
    padding: 0.5rem 0 0.5rem 2rem;
    
    h1 {
        color: #fff;
        margin: 0px;
        font-size: 1.5rem;
    }

    svg {
        cursor: pointer;
        color: #fff;
        font-size: 1.3rem;
    }
}